/****************
Sections
*/


#content1Container {
    padding: 3em 0 3em 0;
}

#content2Container {
    padding: 3em 0 3em 0;
}

/*****************
General 
*/

body, html {
    font-family:"Open Sans", sans-serif;
    color:#474747;
    background-color:#fff;
}

body,input,textarea,button,select {
 font-size:17.5px;
 font-family:"Open Sans", sans-serif;
 color:#474747;
 line-height:1.5;
}

.page-width {
    *zoom:1;
    max-width: 1350px;
    margin: auto;
}

h1,.h1 {
    color: #45b9b2;
	text-align: center;
	text-transform: Uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
    margin: 30px 0 60px;
}     

h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    color: #3d4246;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}

h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a {
    color:inherit;
    text-decoration:none;
    font-weight:inherit
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #45b9b2;
	left: 0;
	right: 0;
	bottom: -10px;
}

img {
    max-width:100%;
    border:0;
    width:100%;
    height:auto;
}


/*****************
Header 
*/
.logo {
    margin: 25px auto 0 auto;
    max-width: 250px;
}

.banner {
    margin: 1em 0 1em 0;
}

header menu {
    font-size: 18px;
    font-weight: 400;
    color: #3d4246;
    padding: 0 0 0 0;
}

.nav-link {
    color: #3d4246;
}

.nav-link:hover {
    color: rgb(38, 172, 161);
}

.btn-book-now-container {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    header menu {
        margin-top: 2px;
    }

    .btn-book-now {
        margin-top: 36px;
    }
}

@media only screen and (min-width: 1200px) {
    header menu {
        padding-top: 30px;
    }
}
/*****************
Carousel
*/

.col-center {
	margin: 0 auto;
    float: none !important;
}
.carousel {
	margin: 50px auto;
    padding: 0 60px;
    background-color: #f8f6f6;
}
.carousel .item {
	color: rgb(39, 39, 39);
	font-size: 12px;
    text-align: center;
	overflow: hidden;
    height: 500px;
}

@media only screen and (min-width: 992px) {
    .carousel .item {
        font-size: 16px;
        height: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel .item {
        font-size: 18px;
        height: 400px;
    }
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
    border-radius: 50%;
}
.carousel .testimonial {
	padding: 20px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #000000;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 55px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
}
.carousel .carousel-indicators {
	bottom: -35px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
}
.carousel-indicators li.active {	
	background: #555;			
}


/*****************
Panels 
*/
.panel-treatments {
    background-color: #f8f6f6;
    padding: 1em 0 2em 0;
}

.panel-testimonies {
    background-color:#f8f6f6;
    padding: 1em 0;
    font-size:30px;
}

.panel-hicaps {
    background-color:#45b9b2;
    padding: 1em 0 1em 0;
    font-size:30px;
    color:#ffffff;
    line-height:1.5;
}

/*****************
Social Icons 
*/

.social-icons li {
    display:inline-block;
    margin-bottom:0;
    vertical-align:middle;
}

.social-icons .icon {
    width:23px;
    height:23px
}
@media only screen and (min-width: 750px) {
    .social-icons .icon {
        width:25px;
        height:25px
    }
}

.social-icons a {
    display:block;
    padding:0 3px;
}
.social-icons a:first-child {
    margin-left:0;
}

.icon-fallback-text {
    visibility: hidden !important;
    position:absolute !important;
    overflow:hidden;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0
}


/*****************
Footer 
*/

.footer-nav {
    font-size: 18px;
    color: #3d4246;
    line-height: 0.50;
}

footer {
    background-color:rgba(84,78,76,0.37);
    padding: 4em 0 3em 0;
}

footer ul {
    color: #000000;
    padding: 0 0;
    margin: 0 0;
}

@media only screen and (min-width: 576px) {
    footer .contact-info {
        text-align:left;
    }
}

footer .social-icons {
    text-align:center;
    margin-bottom:1em;
}
@media only screen and (min-width: 576px) {
    footer .social-icons {
        text-align:left;
    }
}

footer .copyright {
    text-align:center;
}
@media only screen and (min-width: 576px) {
    footer .copyright {
        text-align:right;
    }
}