/****************
Sections
*/


#content1Container {
    padding: 3em 0 3em 0;
}

#content2Container {
    padding: 3em 0 3em 0;
}

#instagramFeed  {
    padding: 3em 0 3em 0;
}

/*****************
General 
*/

body, html {
    font-family:"Hind",sans-serif;
    color:#474747;
    background-color:#fff;
}

body,input,textarea,button,select {
 font-size:17.5px;
 font-family:"Hind",sans-serif;
 color:#474747;
 line-height:1.5;
}

.page-width {
    *zoom:1;
    max-width: 1350px;
    margin: auto;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    margin:0 0 17.5px;
    font-family:"Hind",sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#45b9b2;
}

h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a {
    color:inherit;
    text-decoration:none;
    font-weight:inherit
}

img {
    max-width:100%;
    border:0;
    width:100%;
    height:auto;
}


/*****************
Header 
*/
.logo {
    margin: 0 auto 0 auto;
    max-width: 250px;
}

.banner {
    margin: 1em 0 1em 0;
}

header menu {
    font-size: 20px;
    font-weight: 400;
    color: #3d4246;
    padding: 0 0 0 0;
}

.nav-link {
    color: #3d4246;
}

.nav-link:hover {
    color: rgb(56, 168, 233);
}

.btn-book-now-container {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    header menu {
        margin-top: 2px;
    }

    .btn-book-now {
        margin-top: 36px;
    }
}

@media only screen and (min-width: 1200px) {
    header menu {
        padding-top: 30px;
    }
}

/*****************
Panels 
*/
.panel-treatments {
    background-color: #f8f6f6;
    padding: 3em 0 3em 0;
}

.panel-hicaps {
    background-color:#45b9b2;
    padding: 2em 0 2em 0;
    font-size:30px;
    font-family:"Hind",sans-serif;
    color:#f8f6f6;
    line-height:1.5;
}


/*****************
Social Icons 
*/

.social-icons li {
    display:inline-block;
    margin-bottom:0;
    vertical-align:middle;
}

.social-icons .icon {
    width:23px;
    height:23px
}
@media only screen and (min-width: 750px) {
    .social-icons .icon {
        width:25px;
        height:25px
    }
}

.social-icons a {
    display:block;
    padding:0 3px;
}
.social-icons a:first-child {
    margin-left:0;
}

.icon-fallback-text {
    visibility: hidden !important;
    position:absolute !important;
    overflow:hidden;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0
}


/*****************
Footer 
*/
footer {
    background-color:rgba(84,78,76,0.37);
    padding: 4em 0 3em 0;
}

footer ul {
    padding: 0 0;
    margin: 0 0;
}

footer .contact-info {
    text-align:center;
    line-height:0.5;
    margin-bottom:2em;
}
@media only screen and (min-width: 576px) {
    footer .contact-info {
        text-align:left;
    }
}

footer .social-icons {
    text-align:center;
    margin-bottom:1em;
}
@media only screen and (min-width: 576px) {
    footer .social-icons {
        text-align:left;
    }
}

footer .copyright {
    text-align:center;
}
@media only screen and (min-width: 576px) {
    footer .copyright {
        text-align:right;
    }
}